# Это пример файла .htpasswd
# Для создания реального файла с паролем выполните на сервере:
# 
# htpasswd -c .htpasswd admin
#
# Или используйте онлайн-генератор:
# https://hostingcanada.org/htpasswd-generator/
#
# Формат файла:
# admin:$apr1$xxxxx$xxxxxxxxxxxxxxxxxxxxxxxxx
#
# После создания файла .htpasswd удалите этот файл .htpasswd.example